* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  background-color: #FFFFFF;
  color: #000000;
  scroll-behavior: smooth;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
}

.default-btn {
  background-color: #3040E5;
  color: white;
  text-align: center;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 2.7rem;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  width: 160px;
}

.default-icon {
  aspect-ratio: 1;
  width: 24px;
  cursor: pointer;
}

.nav-bar {
  background-color: #FFFFFF;
  width: 100%;
  height: 5.5 rem;
  display: flex;
  padding: 1.5rem 0;
  justify-content: space-around;
}
.nav-bar__left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar__left-section--title {
  font-weight: 600;
  font-size: 22px;
  margin-left: 6%;
}
.nav-bar__right-section {
  width: 40%;
}
.nav-bar__right-section__nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-bar__right-section__nav-list .nav-item {
  margin-left: 10%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.nav-bar__right-section__nav-list .theme-toggle--button {
  aspect-ratio: 1;
  position: absolute;
  right: 16%;
  height: 40px;
  width: 40px;
  transform: scale(1);
  transition: 0.8s;
}
.nav-bar__right-section__nav-list .theme-toggle--button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.nav-bar__right-section__nav-list .item--sun {
  visibility: hidden;
}
.nav-bar__right-section__nav-list .mobile--item {
  border-radius: 29px;
  padding: 0.4em 1.5em;
  background: #F2F2F7;
  visibility: hidden;
}

.intro-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro-screen__picture {
  margin-top: 4rem;
  aspect-ratio: 1;
  height: 64px;
  margin-bottom: 1rem;
}
.intro-screen__greeting {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.intro-screen__position {
  align-items: center;
  font-weight: 800;
  font-size: 60px;
  text-align: center;
  margin-bottom: 1rem;
}
.intro-screen__description {
  width: 40%;
  margin: 0px 15%;
  text-align: center;
  line-height: 192%;
}
.intro-screen__description--link {
  cursor: pointer;
  color: #3040E5;
  text-decoration: underline;
}
.intro-screen__button-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  justify-content: space-between;
}
.intro-screen__button-container .default-btn {
  width: 45%;
}
.intro-screen__button-container--download-cv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-screen__button-container--download-cv .default-text {
  cursor: pointer;
  margin-left: 4px;
}
.intro-screen__link-container {
  margin-top: 2.5rem;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.card-screen {
  background-color: #F2F2F7;
  width: 100%;
  height: calc(105vh - 5.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-screen .card {
  height: 80%;
  width: 80%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.card-screen .card__right-image {
  height: 100%;
  width: 120%;
  object-fit: contain;
}
.card-screen .card__left-part {
  padding-left: 5rem;
}
.card-screen .card__left-part--type-icon {
  background-color: #F2F2F7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 31px;
  border-radius: 28px;
}
.card-screen .card__left-part--type-icon .genre-icon {
  aspect-ratio: 1;
  width: 24px;
}
.card-screen .card__left-part--type-icon .genre-text {
  margin-left: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.card-screen .card__left-part--name-icon {
  display: flex;
  margin-top: 12px;
}
.card-screen .card__left-part--name-icon .main-icon {
  aspect-ratio: 1;
  height: 48px;
}
.card-screen .card__left-part--name-icon .left-part-name {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.card-screen .card__left-part--description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  width: 80%;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 190.4%; /* 34.272px */
  letter-spacing: 0.09px;
}
.card-screen .card__left-part__links-bar {
  display: flex;
  margin-top: 2.6rem;
  justify-content: space-between;
}
.card-screen .card__left-part__links-bar--default-logo {
  height: 24px;
  width: 24px;
}
.card-screen .card__left-part .default-btn {
  margin-top: 2.6rem;
}

/*# sourceMappingURL=style.css.map */
