
$default-font:Montserrat;
$special-font:Roboto;
$background-color: #FFFFFF;
$secondary-background:#F2F2F7;
$primary-text-color:#000000;
$secondary-text-color: #2C2C2E;
$button-color: #3040E5;
$transition-delay: .8s;

@mixin flexCenter{
    display:flex;
    justify-content:center;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $default-font;
    background-color: $background-color;
    color: $primary-text-color;
    scroll-behavior: smooth
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
}

.nav-bar{
    background-color: $background-color;
    width: 100%;
    height: 5.5 rem;
    display:flex;
    justify-content: space-around;
    &__left-section{
        @include flexCenter();
        &--title{
            font-weight: 600;
            font-size: 22px;
            margin-left: 6%;
        }
    }
    &__right-section{
        width: 40%;
        &__nav-list{
            list-style: none;
            @include flexCenter();
            position: relative;
            .nav-item{
                margin-left: 10%;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
            .theme-toggle--button{
                aspect-ratio: 1;
                position: absolute;
                right:16%;
                height: 40px;
                width: 40px;
                transform: scale(1);
                transition: $transition-delay;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            .item--sun{
                visibility: hidden;
            }
            .mobile--item{
                border-radius: 29px;
                padding: 0.4em 1.5em;
                background: #F2F2F7;
                visibility: hidden;
            }
        }
    }
}

.intro-screen{
    height: calc(100vh - 5.6rem);
    @include flexCenter();
    flex-direction: column;
    &__picture{
        margin-top: 4rem;
        aspect-ratio: 1;
        height: 64px;
    }
    &__greeting{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    &__position{
        align-items: center;
        font-weight: 800;
        font-size: 60px;
        text-align: center;
    }
    &__description{
        width: 40%;
        margin: 0px 15%;
        text-align: center;
        line-height: 192%;
        &--link{
            cursor: pointer;
            color: $button-color;
            text-decoration: underline;
        }
    }
    &__button-container{
        margin-top: 3rem;
        @include flexCenter();
        width:20%;
        justify-content: space-between;
        .default-btn{
            width: 45%;
        }
        &--download-cv{
            @include flexCenter();

            .default-text{
                cursor: pointer;
                margin-left: 4px;
            }
        }
    }
    &__link-container{
        margin-top: 2.5rem;
        width: 275px;
        @include flexCenter();
        justify-content: space-between;
    }
}

.default-btn{
    background-color: $button-color;
    color: white;
    text-align: center;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 2.7rem;
    font-family: $special-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.default-icon{
    aspect-ratio: 1;
    width: 24px;
    cursor: pointer;
}
