* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #FFFFFF;
  --secondary-background:#F2F2F7;
  --primary-text-color:#000000;
  --secondary-text-color: #2C2C2E;
  --moon-visible:visible;
  --sun-visible:hidden;
  --moon-pointer:all;
  --sun-pointer:none;
  --invert:0%;
}

.dark {
  --background-color:#050519;
  --secondary-background:#282C34;
  --primary-text-color:#FFFFFF;
  --secondary-text-color:#D9D9D9;
  --moon-visible:hidden;
  --sun-visible:visible;
  --moon-pointer:none;
  --sun-pointer:all;
  --invert:100%;
}

.default-btn {
  background-color: #3040E5;
  color: white;
  text-align: center;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 2.7rem;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  width: 160px;
  transform: scale(1);
  transition: 0.8s;
}
.default-btn:hover {
  transform: scale(1.1);
}

.default-icon {
  aspect-ratio: 1;
  width: 24px;
  cursor: pointer;
  filter: invert(var(--invert));
  transform: scale(1);
  transition: 0.8s;
}
.default-icon:hover {
  transform: scale(1.1);
}

.p__tb {
  padding: 60px 0;
}

.footer {
  width: 100%;
  background-color: var(--secondary-background);
  padding: 0 10%;
}
.footer__get-in-touch {
  padding-top: 39px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 172.687%; /* 69.075px */
  letter-spacing: 0.2px;
}
.footer__email-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.footer__link-container {
  margin-bottom: 0;
  margin-top: 2.5rem;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
}

.nav-bar {
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  padding: 1.5rem 0;
  justify-content: space-around;
}
.nav-bar__left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: 0.8s;
  cursor: pointer;
}
.nav-bar__left-section:hover {
  transform: scale(1.1);
}
.nav-bar__left-section--title {
  font-weight: 600;
  font-size: 22px;
  margin-left: 6%;
}
.nav-bar__right-section {
  width: 40%;
}
.nav-bar__right-section__nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-bar__right-section__nav-list .nav-item {
  margin-left: 10%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.nav-bar__right-section__nav-list .theme-toggle--button {
  aspect-ratio: 1;
  position: absolute;
  right: 16%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.8s;
  transition: 0s;
}
.nav-bar__right-section__nav-list .theme-toggle--button:hover {
  transform: scale(1.1);
}
.nav-bar__right-section__nav-list .item--moon {
  visibility: var(--moon-visible);
  pointer-events: var(--moon-pointer);
}
.nav-bar__right-section__nav-list .item--sun {
  visibility: var(--sun-visible);
  pointer-events: var(--sun-pointer);
}
.nav-bar__right-section__nav-list .mobile--item {
  border-radius: 29px;
  padding: 0.4em 1.5em;
  background: var(--secondary-background);
  visibility: hidden;
}

body {
  font-family: Montserrat;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  transition: 0.8s;
}

html {
  scroll-behavior: smooth;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.card-screen {
  background-color: var(--secondary-background);
  width: 100%;
  height: calc(105vh - 5.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-screen .card {
  height: 80%;
  width: 80%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.card-screen .card__right-image {
  height: 100%;
  width: 90%;
  object-fit: contain;
}
.card-screen .card__left-part {
  padding-left: 5rem;
}
.card-screen .card__left-part--type-icon {
  background-color: var(--secondary-background);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 31px;
  border-radius: 28px;
}
.card-screen .card__left-part--type-icon .genre-icon {
  aspect-ratio: 1;
  width: 24px;
}
.card-screen .card__left-part--type-icon .genre-text {
  margin-left: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.card-screen .card__left-part--name-icon {
  display: flex;
  margin-top: 12px;
}
.card-screen .card__left-part--name-icon .main-icon {
  aspect-ratio: 1;
  height: 48px;
  margin-right: 2rem;
}
.card-screen .card__left-part--name-icon .left-part-name {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.card-screen .card__left-part--description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  width: 80%;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 190.4%; /* 34.272px */
  letter-spacing: 0.09px;
}
.card-screen .card__left-part__links-bar {
  display: flex;
  flex-direction: row;
  margin-top: 2.6rem;
  gap: 40px;
}
.card-screen .card__left-part__links-bar--default-logo {
  height: 24px;
  width: 24px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.8s;
}
.card-screen .card__left-part__links-bar--default-logo:hover {
  transform: scale(1.1);
}
.card-screen .card__left-part .default-btn {
  margin-top: 2.6rem;
}

.intro-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro-screen__picture {
  aspect-ratio: 1;
  height: 64px;
  margin-bottom: 1rem;
}
.intro-screen__greeting {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.intro-screen__position {
  align-items: center;
  font-weight: 800;
  font-size: 60px;
  text-align: center;
  margin-bottom: 1rem;
}
.intro-screen__description {
  width: 40%;
  color: var(--secondary-text-color);
  margin: 0px 15%;
  text-align: center;
  line-height: 192%;
}
.intro-screen__description--link {
  cursor: pointer;
  color: #3040E5;
  text-decoration: underline;
}
.intro-screen__button-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 10px;
  justify-content: space-between;
}
.intro-screen__button-container .default-btn {
  width: 45%;
}
.intro-screen__button-container--download-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: 0.8s;
}
.intro-screen__button-container--download-cv:hover {
  transform: scale(1.1);
}
.intro-screen__button-container--download-cv .default-text {
  cursor: pointer;
  margin-left: 4px;
}
.intro-screen__link-container {
  margin-top: 2.5rem;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.application-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(105vh - 5.6rem);
}
.application-tools .application-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.application-tools .tool-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 75%;
  width: 80%;
}
.application-tools .tool-container__tools {
  width: 32%;
}
.application-tools .tool-container__tools--icon {
  height: 100px;
  aspect-ratio: 1;
  position: relative;
}
.application-tools .tool-container__tools--title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.application-tools .tool-container__tools--description {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 190.4%; /* 30.464px */
  letter-spacing: 0.08px;
  color: var(--secondary-text-color);
}
.application-tools__load-more {
  padding: 10px 0;
  width: 80%;
  text-align: center;
  font-family: Roboto;
  font-size: 15.714px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.687%; /* 23.051px */
  letter-spacing: 0.079px;
  border-radius: 43px;
  background-color: var(--secondary-background);
  cursor: pointer;
  transform: scale(1);
  transition: 0.8s;
}
.application-tools__load-more:hover {
  transform: scale(1.1);
}

.item--backward {
  position: absolute;
  z-index: -1;
  top: -100px;
  left: 29px;
}

@media screen and (min-width: 875px) {
  .nav-bar__right-section__nav-list {
    visibility: visible;
  }
  .nav-bar__right-section .mobile--item {
    visibility: hidden;
  }
}
@media screen and (min-width: 575px) and (max-width: 875px) {
  .nav-bar__right-section__nav-list {
    visibility: hidden;
  }
  .nav-bar__right-section .theme-toggle--button {
    left: 33%;
    top: 0;
  }
  .nav-bar__right-section .mobile--item {
    visibility: visible;
    position: absolute;
    right: 0;
    top: 4px;
  }
  .intro-screen {
    padding-top: 0;
  }
  .intro-screen__position {
    font-size: 48px;
  }
  .intro-screen__description {
    width: 70%;
  }
  .intro-screen__button-container {
    width: 40%;
    font-size: 14px;
    gap: 1.5rem;
  }
  .intro-screen__button-container .default-btn {
    width: 10000rem;
  }
  .intro-screen__button-container .default-text {
    width: 100px;
  }
  .card-screen {
    height: auto;
  }
  .card-screen .card {
    flex-wrap: wrap;
  }
  .card-screen .card__right-image {
    width: 100%;
  }
  .card-screen .card__right-image .image-modifier {
    object-fit: cover;
    height: 400px;
  }
  .card-screen .card__left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: relative;
  }
  .card-screen .card__left-part--type-icon {
    position: absolute;
    top: -350px;
    left: 20px;
  }
  .card-screen .card__left-part .default-btn {
    margin-bottom: 120px;
  }
  .application-tools {
    padding: 3rem 0;
    height: 90%;
  }
  .application-tools .tool-container {
    height: 60%;
  }
  .application-tools__load-more {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 575px) {
  .header {
    position: relative;
  }
  .nav-bar {
    margin: 0;
    padding: 1.1rem 0;
  }
  .nav-bar__right-section__nav-list {
    visibility: hidden;
  }
  .nav-bar__right-section .theme-toggle--button {
    left: 12px;
    top: 0;
  }
  .nav-bar__right-section .mobile--item {
    visibility: visible;
    position: absolute;
    right: 0;
    top: 4px;
  }
  .intro-screen__greeting {
    font-size: 16px;
  }
  .intro-screen__position {
    font-size: 24px;
  }
  .intro-screen__description {
    font-size: 14px;
    width: 90%;
  }
  .intro-screen__button-container {
    font-size: 14px;
    flex-direction: column;
    gap: 1.5rem;
  }
  .intro-screen__button-container .default-btn {
    width: 170px;
  }
  .intro-screen__button-container .default-text {
    width: 100px;
  }
  .card-screen {
    height: auto;
  }
  .card-screen .card {
    flex-wrap: wrap;
    width: 200%;
  }
  .card-screen .card__right-image {
    width: 100%;
  }
  .card-screen .card__right-image .image-modifier {
    object-fit: cover;
    height: 280px;
  }
  .card-screen .card__left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: relative;
  }
  .card-screen .card__left-part--type-icon {
    position: absolute;
    top: -270px;
    left: 20px;
  }
  .card-screen .card__left-part--name-icon {
    align-items: center;
  }
  .card-screen .card__left-part .left-part-name {
    font-size: 24px;
  }
  .card-screen .card__left-part--description {
    font-size: 14px;
  }
  .card-screen .card__left-part .default-btn {
    margin-bottom: 120px;
  }
  .application-tools {
    height: auto;
    justify-content: flex-start;
  }
  .application-tools .application-title {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .application-tools .tool-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
  .application-tools .tool-container__tools {
    width: 100%;
    padding-bottom: 3rem;
  }
  .application-tools .tool-container__tools:not(:last-child) {
    border-bottom: 1px solid #6F7279;
  }
  .application-tools .tool-container__tools--title {
    font-size: 20px;
    padding-bottom: 1.5rem;
  }
  .application-tools .tool-container__tools--description {
    font-size: 14px;
    width: 100%;
  }
  .application-tools__load-more {
    margin-bottom: 24px;
  }
  .footer__get-in-touch {
    margin-top: 26px;
    font-size: 24px;
  }
  .footer__email-button {
    margin-top: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__email-button--email {
    font-size: 14px;
    margin-bottom: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
