:root{
    --background-color: #FFFFFF;
    --secondary-background:#F2F2F7;
    --primary-text-color:#000000;
    --secondary-text-color: #2C2C2E;
}

$default-font:Montserrat;
$special-font:Roboto;
$button-color: #3040E5;
$transition-delay: .8s;


.dark{
    --background-color:#050519;
    --secondary-background:#282C34;
    --primary-text-color:#FFFFFF;
    --secondary-text-color:#D9D9D9;
}
@mixin flexCenter{
    display:flex;
    justify-content:center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $default-font;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    scroll-behavior: smooth;
    transition: $transition-delay;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
}

.default-btn{
    background-color: $button-color;
    color: white;
    text-align: center;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 2.7rem;
    font-family: $special-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    width: 160px;
    transform: scale(1);
    transition: $transition-delay;
    &:hover{
        transform: scale(1.1);
    }
}

.default-icon{
    aspect-ratio: 1;
    width: 24px;
    cursor: pointer;
    transform: scale(1);
    transition: $transition-delay;
    &:hover{
        transform: scale(1.1);
    }
}

.nav-bar{
    background-color: var(--background-color);
    width: 100%;
    height: 5.5 rem;
    display:flex;
    padding: 1.5rem 0;
    justify-content: space-around;
    &__left-section{
        @include flexCenter();
        &--title{
            font-weight: 600;
            font-size: 22px;
            margin-left: 6%;
        }
    }
    &__right-section{
        width: 40%;
        &__nav-list{
            list-style: none;
            @include flexCenter();
            position: relative;
            .nav-item{
                margin-left: 10%;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
            .theme-toggle--button{
                aspect-ratio: 1;
                position: absolute;
                right:16%;
                height: 40px;
                width: 40px;
                transform: scale(1);
                transition: $transition-delay;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            .item--sun{
                visibility: hidden;
            }
            .mobile--item{
                border-radius: 29px;
                padding: 0.4em 1.5em;
                background: #F2F2F7;
                visibility: hidden;
            }
        }
    }
}

.intro-screen{
    // height: calc(100vh - 5.6rem);
    @include flexCenter();
    flex-direction: column;
    &__picture{
        margin-top: 4rem;
        aspect-ratio: 1;
        height: 64px;
        margin-bottom: 1rem;
    }
    &__greeting{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    &__position{
        align-items: center;
        font-weight: 800;
        font-size: 60px;
        text-align: center;
        margin-bottom: 1rem;
    }
    &__description{
        width: 40%;
        margin: 0px 15%;
        text-align: center;
        line-height: 192%;
        &--link{
            cursor: pointer;
            color: $button-color;
            text-decoration: underline;
        }
    }
    &__button-container{
        margin-top: 3rem;
        @include flexCenter();
        width:20%;
        justify-content: space-between;
        .default-btn{
            width: 45%;
        }
        &--download-cv{
            @include flexCenter();

            .default-text{
                cursor: pointer;
                margin-left: 4px;
            }
        }
    }
    &__link-container{
        margin-top: 2.5rem;
        width: 275px;
        @include flexCenter();
        justify-content: space-between;
        margin-bottom: 4rem;
    }
}

.card-screen{
    background-color: var(--secondary-background);
    width: 100%;
    height: calc(105vh - 5.6rem);
    @include flexCenter();
    .card{
        height: 80%;
        width: 80%;
        background-color: var(--background-color);
        @include flexCenter();
        flex-direction: row-reverse;

        &__right-image{
            height: 100%;
            width: 90%;
            object-fit: contain;
        }
        &__left-part{
            padding-left: 5rem;
            &--type-icon{
                background-color: var(--secondary-background);
                @include flexCenter();
                width: 134px;
                height: 31px;
                border-radius: 28px;

                .genre-icon{
                    aspect-ratio: 1;
                    width: 24px;
                }
                .genre-text{
                    margin-left: 10px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                }
            }
            &--name-icon{
                display: flex;
                margin-top: 12px;
                .main-icon{
                    aspect-ratio: 1;
                    height: 48px;
                }
                .left-part-name{
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                }
            }
            &--description{
                @include flexCenter();
                margin-top: 12px;
                width: 80%;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 190.4%; /* 34.272px */
                letter-spacing: 0.09px;
            }
            &__links-bar{
                display: flex;
                margin-top: 2.6rem;
                gap: 40px;
                &--default-logo{
                    height: 24px;
                    width: 24px;
                }
            }
            .default-btn{
                margin-top: 2.6rem;
            }
        }
    }
}

.application-tools{
    @include flexCenter();
    flex-direction: column;
    width: 100%;
    height: calc(105vh - 5.6rem);
    .application-title{
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
    }
    .tool-container{
        @include flexCenter();
        flex-wrap: wrap;
        height: 75%;
        width: 80%;
        &__tools{
            width: 32%;
            &--icon{
                height: 100px;
                aspect-ratio: 1;
                position: relative;
            }
            &--title{
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
            }
            &--description{
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 190.4%; /* 30.464px */
                letter-spacing: 0.08px;
                color: var(--secondary-text-color);
            }
        }
    }
    &__load-more{
        padding: 10px 0;
        width: 80%;
        text-align: center;
        font-family: $special-font;
        font-size: 15.714px;
        font-style: normal;
        font-weight: 500;
        line-height: 146.687%; /* 23.051px */
        letter-spacing: 0.079px;
        border-radius: 43px;
        background-color: var(--secondary-background);
        transition: $transition-delay;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.item--backward{
    position: absolute;
    z-index: -1;
    top:-100px;
    left:29px;
}

.footer{
    width: 100%;
    background-color: var(--secondary-background);
    padding:0 10%;
    &__get-in-touch{
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 172.687%; /* 69.075px */
        letter-spacing: 0.2px;
    }
    &__email-button{
        @include flexCenter();
        justify-content: space-between;
        padding-bottom: 2rem;
    }
    &__link-container{
        @extend .intro-screen__link-container;
        margin: 0;
        padding-bottom: 3rem;
    }
}