:root{
    --background-color: #FFFFFF;
    --secondary-background:#F2F2F7;
    --primary-text-color:#000000;
    --secondary-text-color: #2C2C2E;
    --moon-visible:visible;
    --sun-visible:hidden;
    --moon-pointer:all;
    --sun-pointer:none;
    --invert:0%;
}

