.header{
    position:sticky;
    top: 0;
    left: 0;
}

.nav-bar{
    background-color: var(--background-color);
    width: 100%;
    display:flex;
    padding: 1.5rem 0;
    justify-content: space-around;
    &__left-section{
        @include flexCenter();
        &--title{
            font-weight: 600;
            font-size: 22px;
            margin-left: 6%;
        }
    }
    &__right-section{
        width: 40%;
        &__nav-list{
            list-style: none;
            @include flexCenter();
            position: relative;
            .nav-item{
                margin-left: 10%;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
            .theme-toggle--button{
                aspect-ratio: 1;
                position: absolute;
                right:16%;
                height: 40px;
                width: 40px;
                cursor: pointer;
                @include hoverBig();
                transition: 0s;
            }
            .item--moon{
                visibility: var(--moon-visible);
                pointer-events: var(--moon-pointer);
            }
            .item--sun{
                visibility: var(--sun-visible);
                pointer-events: var(--sun-pointer);
            }
            .mobile--item{
                border-radius: 29px;
                padding: 0.4em 1.5em;
                background: var(--secondary-background);
                visibility: hidden;
            }
        }
    }
}