.card-screen{
    background-color: var(--secondary-background);
    width: 100%;
    height: calc(105vh - 5.6rem);
    @include flexCenter();
    .card{
        height: 80%;
        width: 80%;
        background-color: var(--background-color);
        @include flexCenter();
        flex-direction: row-reverse;

        &__right-image{
            height: 100%;
            width: 90%;
            object-fit: contain;
        }
        &__left-part{
            padding-left: 5rem;
            &--type-icon{
                background-color: var(--secondary-background);
                @include flexCenter();
                width: 134px;
                height: 31px;
                border-radius: 28px;

                .genre-icon{
                    aspect-ratio: 1;
                    width: 24px;
                }
                .genre-text{
                    margin-left: 10px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                }
            }
            &--name-icon{
                display: flex;
                margin-top: 12px;
                .main-icon{
                    aspect-ratio: 1;
                    height: 48px;
                    margin-right: 2rem;
                }
                .left-part-name{
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                }
            }
            &--description{
                @include flexCenter();
                margin-top: 12px;
                width: 80%;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 190.4%; /* 34.272px */
                letter-spacing: 0.09px;
            }
            &__links-bar{
                display: flex;
                flex-direction: row;
                margin-top: 2.6rem;
                gap: 40px;
                &--default-logo{
                    height: 24px;
                    width: 24px;
                    cursor: pointer;
                    @include hoverBig();
                }
            }
            .default-btn{
                margin-top: 2.6rem;
            }
        }
    }
}